extends layout/page-layout

block title
	title Седона | Главная

block content
	include section/intro
	include section/main-content
	include section/hotels
	include section/map

block append scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvSnexh0iWaB7Z5U8FA_BpcEgJIVD3d4g&callback=initMap" async defer)

