@import "../../node_modules/normalize-styl/normalize";

@import "global/var";
@import "global/font";
@import "global/common";


@import "section/header";
@import "section/intro";
@import "section/intro-pages";
@import "section/main-content";
@import "section/photo-content";
@import "section/hotels";
@import "section/map";
@import "section/footer";

