@import "nav";

.header
	width 320px
	margin 0 auto
	position relative
	background-color #fff

.top-menu
	height 56px
	position relative
.logo
	text-align center
	display block

.menu-toggle
	font-size 0
	width 30px
	height 24px
	position absolute
	top 16px
	right 15px
	cursor pointer
	.menu-toggle__line
		width 30px
		height 3px
		display block
		background-color main-color
		&:before
			content ''
			display block
			width 30px
			height 3px
			background-color main-color
			position absolute
			left 0
			top 8px
		&:after
			content ''
			display block
			width 30px
			height 3px
			background-color main-color
			position absolute
			left 0
			top 16px

@media screen and (min-width: 768px)
	.header
		width 768px
	.menu-toggle
		display none
	.top-menu
		position absolute
		height auto
		left 50%
		margin-left -42px
		top 0

@media screen and (min-width: 1150px)
	.header
		width 1150px
	.top-menu
		margin-left -95px
	.logo__img
		width 190px
		height 97px