.intro.intro-pages
	.intro-title
		padding 0
		.intro-image__text
			width 230px
			height 160px

@media screen and (min-width: 768px)

	.intro.intro-pages
		.intro-title
			padding 95px 0
			.intro-image__text
				width 450px
				height 160px