.intro
	width 320px
	margin 0 auto

.intro-title
	background-image url('../images/bg-intro-triangle-mobile.svg'), url('../images/bg-back-mobile@1x.jpg')
	background-position center bottom, center center
	background-repeat no-repeat, no-repeat
	background-size cover, cover
	box-sizing border-box


.intro-image__text
	width 290px
	display block
	margin 0 auto

.intro-descr
	text-align center
	text-transform uppercase
	box-sizing border-box
	padding-bottom 50px
	position relative
	.intro-descr__title
		font-family ff-bold
		font-size 18px
		line-height 26px
		margin 0
		padding-top 45px
	.intro-descr__text
		margin-top 40px
		margin-bottom 0
		font-size 14px
		line-height 26px
	.intro-triangle
		width 100%
		position absolute
		left 0
		bottom -26px
		z-index 10

@media screen and (min-width: 768px)
	.intro
		width 768px

	.intro-title
		padding-top 65px
		padding-bottom 80px
		background-image url('../images/bg-intro-triangle-tablet.svg'), url('../images/bg-back-tablet@1x.jpg')
		background-size 100%, cover


	.intro-image__text
		width 500px

	.intro-descr
		.intro-descr__title
			max-width 450px
			margin 0 auto
			font-size 21px
		.intro-triangle
			display none




