.intro
	background-color #fff

.intro-title
	background-image url('../images/bg-intro-triangle-mobile.svg'), url('../images/bg-back-mobile@1x.jpg')
	background-position center bottom, center center
	background-repeat no-repeat, no-repeat
	background-size cover, cover
	box-sizing border-box

.intro-image__text
	width 290px
	display block
	margin 0 auto


@media screen and (min-width: 768px)

	.intro-title
		padding-top 65px
		padding-bottom 80px
		background-image url('../images/bg-intro-triangle-tablet.svg'), url('../images/bg-back-tablet@1x.jpg')
		background-size 100%, cover

	.intro-image__text
		width 500px


@media screen and (min-width: 1150px)

	.intro-title
		background-image url('../images/bg-intro-triangle-desktop.svg'), url('../images/bg-back-desktop@1x.jpg')
		background-size 100%, cover





