.nav
	position relative

.nav-items
	margin 0
	padding 0
	text-align center
	position relative
	.nav-item
		list-style-type none
		color #fff
		background-color main-color
		text-transform uppercase
		font-size 18px
		font-family ff-bold
		padding 20px 0
		border-bottom 1px solid rgba(#000, 0.2)
		border-top 1px solid rgba(#fff, 0.2)
		transition background 0.3s
		&:last-child
			box-shadow 0 -6px 4px -4px rgba(0, 0, 0, .2) inset
		&:active
			background main-black-color
		&:hover
			background main-light-color

		.nav-item__link
			text-decoration none
			color inherit

.nav-btn-close
	font-size 0
	position absolute
	top 15px
	right 15px
	width 30px
	height 30px
	display block
	cursor pointer
	&:after
		content ''
		display block
		position absolute
		left 0
		top 15px
		background-color #fff
		width 25px
		height 4px
		transform rotate(45deg)
	&:before
		content ''
		display block
		position absolute
		left 0
		top 15px
		background-color #fff
		width 25px
		height 4px
		transform rotate(-45deg)

@media screen and (min-width: 768px)
	.nav-btn-close
		display none

	.nav-items
		display flex
		justify-content space-between
		.nav-item_photo
			margin-right auto
		.nav-item_form
			margin-left auto
		.nav-item
			width 20%
			color #000
			background none
			border none
			font-size 14px
			transition color 0.3s
			&:last-child
				box-shadow none
			&:active
				background none
				color #cacaca
				&:hover
					color #604e43
			&:hover
				background none
				color main-color