footer.footer
		.footer-wrap
			a(href="#").hash #visitsedona
			ul.social
				li.social-item.social-item_tw
					a.social-item__link Твиттер
				li.social-item.social-item_fb
					a.social-item__link Фейсбук
				li.social-item.social-item_youtube
					a.social-item__link Ютуб
			a(href="#").developer
				|Разработано
				svg.developer-icon
					use(xlink:href="images/sprite-svg.svg#htmlacademy" width="27px" height="35px")
