header.header.index-header
	.container
		.index-wrap
			include nav
			.top-menu
				a(href="#" title="Sedona").logo
					picture
						source(media="(min-width: 1150px)" srcset="images/logo-sedona-desktop.svg")
						source(media="(min-width: 768px)" srcset="images/logo-sedona-tablet.svg")
						source(media="(min-width: 320px)" srcset="images/logo-sedona-mobile.svg")
						img(src="images/logo-sedona-mobile.svg" alt="Sedona" width="102" height="84").logo__img
				.menu-toggle Кнопка меню
					span.menu-toggle__line


