header.header

	nav.nav
		ul.nav-items
			li.nav-item
				a(href="index.html").nav-item__link Главная
			li.nav-item.nav-item_photo
				a(href="photo.html").nav-item__link Фото и видео
			li.nav-item.nav-item_form
				a(href="form.html").nav-item__link Форма отзыва
			li.nav-item
				a(href="htmlacademy.ru").nav-item__link HTML ACADEMY

		.nav-btn.nav-btn-close Закрыть Меню
		.nav-btn.nav-btn-menu Открыть Меню

	a(href="#" title="Sedona").header-logo
		picture
			source(media="(min-width: 1150px)" srcset="images/logo-sedona-desktop.svg")
			source(media="(min-width: 768px)" srcset="images/logo-sedona-tablet.svg")
			source(media="(min-width: 320px)" srcset="images/logo-sedona-mobile.svg")
			img(src="images/logo-sedona-mobile.svg" alt="Sedona" width="102" height="84").logo__img


