section.intro

		.intro-title
			img(src="images/text-sedona-index.svg", width="320" height="389" alt="SEDONA").intro-image__text

		.intro-descr
			img(src="images/bg-triangle.svg", alt="").intro-triangle
			.container
				h2.intro-descr__title
					|СЕДОНА — небольшой городок в АРИЗОНЕ, заслуживающий большего!
				p.intro-descr__text
					|Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!


