section.main-content

		.main-content__items

			.main-content__item.item-city
				.main-content__item-title
					h3.main-content__item-name Настоящий городок
					span.main-content__item-number - N1 -
					p.main-content__item-descr
						| СЕДОНА НЕ АТТРАКЦИОН ДЛЯ ТУРИСТОВ, ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ
				.main-content__item-img.item-city__img

				ul.item-city__reasons
					li.reason.reason-house
						h4.reason-name Жилье
						p.reason-descr Рекомендуем пожить в настоящем мотеле, все как в кино!
					li.reason.reason-gift
						h4.reason-name Сувениры
						p.reason-descr Не только китайского, но и местного производства!
					li.reason.reason-burger
						h4.reason-name Еда
						p.reason-descr Всегда заказывайте ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!

			.main-content__item.item-bridge
				.main-content__item-title
					h3.main-content__item-name Там есть мост дъявола
					span.main-content__item-number - N2 -
					p.main-content__item-descr
						| Да, по нему можно пройти! Если вы осмелитесь, конечно
				.main-content__item-img.item-bridge__img

			.main-content__item.main-content__item_no-content.item-area
				.main-content__item-title
					h3.main-content__item-name Небольшая площадь
					span.main-content__item-number - N3 -
					p.main-content__item-descr
						| ВСЕ интересные места находятся очень близко

			.main-content__item.main-content__item_no-content.item-road
				.main-content__item-title
					h3.main-content__item-name Красивая дорога
					span.main-content__item-number - N4 -
					p.main-content__item-descr
						| ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем НЕ СКУЧНО!

			.main-content__item.main-content__item_no-content.item-tourist
				.main-content__item-title
					h3.main-content__item-name Мало туристов
					span.main-content__item-number - N5 -
					p.main-content__item-descr
						| Большинство едет в гранд каньон и толпится там





