nav.nav
	ul.nav-items
		li.nav-item
			a(href="#").nav-item__link Главная
		li.nav-item
			a(href="#").nav-item__link Фото и видео
		li.nav-item
			a(href="#").nav-item__link Форма отзыва
		li.nav-item
			a(href="#").nav-item__link HTML ACADEMY

	.nav-btn-close Кнопка закрытия меню
